.page-title {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
}

.add-form {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.beer-info {
    border-radius: 6px;
}

.button-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.results-section {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
